In [3]:
a = 10 + 20 + 30
print(a)

b = 10 + \
    20 + \
    30
print(b)

c = [1, 2, 3,
     4, 5, 6]
print(c)

60
60
[1, 2, 3, 4, 5, 6]

In [6]:
a = 10; b = 20
c, d =10, 20
print(a, b, c, d)

10 20 10 20

In [ ]:
a = 'hello'
b = "hi"
c = """bye"""
d = '''end'''
e = 'hello1 \
hello1'
f = '''hello1
hello1'''

In [ ]:
print('hello 1')  # print('hello 2') 주석, 여러줄은 토글 컨트롤 + /

hello 1

In [12]:
a = 100
b = 100.
c = 'hello'

print(type(a), type(b),type(c) )

<class 'int'> <class 'float'> <class 'str'>

In [ ]:
a = 10
b = 3

print(a + b)    # 더하기
print(a - b)    # 빼기
print(a * b)    # 곱하기
print(a / b)    # 나누기
print(a ** b)   # 거듭 제곱
print(a // b)   # 몫 연산
print(a % b)    # 나머지 연산

13
7
30
3.3333333333333335
1000
3
1

In [ ]:
a = 10.1
b = 10
c = '10'

print(a + b)                # print(b + c) -> 오류 =>숫자와 문자열을 + 연산할 수 없다
print(b + int(c))           #'10'->10
print(b + float('11.11'))

20.1
20
21.11

In [4]:
a = 'hello '
b = 'john doe'
c = a + b
print(c)

hello john doe

In [ ]:
a = 'test'
b = a * 5       #a를 반복 처리
print(b)

testtesttesttesttest

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b       #list(여러개의 데이터를 한번에 배열)의 합연산은 두 list를 이어준다
print(c)        #문자열의 합과 유사
d = a * 5       #list의 곱연산은 list의 반복이다
print(d)        #문자열의 곱과 유사

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
a = 'hello john doe'    # a = ['h', 'e', 'l', 'l', 'o', ...]

print(a[6])             # 6번째 문자               인덱싱(처음을 0으로 시작)
print(a[6:10])          # 6번째부터 10번째 문자     슬라이싱
print(a[-3])            # 뒤에서 부터 세운다        (뒤에서 3번째)
print(len(a))           # 문자열 개수 확인
print(a.count('l'))     # 특정 문자의 개수 확인
print( a.find('john'))  # 문자의 위치 확인

j
john
d
14
2
6

In [ ]:
#문자열과 숫자를 함께 사용
name = "홍길동"         
age = 35

# test = "내 이름은 " + name +"이고, 나이는" +age+ "입니다"
# test = "내 이름은 %s이고, 나이는 %d입니다" %(name,age)        넣는 데이터의 자료형
# test = "내 이름은 {0}이고, 나이는 {1}입니다".format(name,age)
test = f"내 이름은 {name}이고, 나이는 {age}입니다"

print(test)

내 이름은 홍길동이고, 나이는 35입니다

In [45]:
a ="""첫번째 문자열
두번째 문자열"""
print(a) 

b = "첫번째 문자열 \
두번째 문자열"
print(b)

b = "첫번째 문자열 \n\"두번째\" 문자열"
print(b)

첫번째 문자열
두번째 문자열
첫번째 문자열 두번째 문자열
첫번째 문자열
"두번째" 문자열

In [ ]:
names ='장동건,송강호,최민식,한석규'
names2 = names.split(',') # -> ['장동건','송강호','최민식','한석규'] ,를 기준 분할
print(names2)

names3 = ':'.join(names2) 
print(names3)

['장동건', '송강호', '최민식', '한석규']
장동건:송강호:최민식:한석규