In [70]:
# 'data-files/subway_data_1.csv' 파일 사용
# 유임승차 비율 = 유임승차 / (유임승차 + 무임승차 )
# 유임승차 비율 = 무임승차 / (유임승차 + 무임승차 )
# 유임승차비율과 무임승차 비율이 가장 높은 지하철역을 각각 검색
# 승차인원이 1000명 이상인 데이터만 사용

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df_sub = pd.read_csv('data-files/subway_data_1.csv', encoding="utf-8", thousands= ",")

# 확인용 
# df_sub.info()
# df_sub.head()
# df_sub.iloc[:3, :8] 
# print(df_sub.columns[[4, 6]])

In [23]:
df_sub['무임승차비'] = df_sub.iloc[:,6] / (df_sub.iloc[:,4] + df_sub.iloc[:,6])
df_sub['유임승차비'] = df_sub['유임승차'] / (df_sub['유임승차'] + df_sub['무임승차'])

mask1 = df_sub['무임승차비'] == df_sub['무임승차비'].max()
mask2 = df_sub['유임승차비'] == df_sub['유임승차비'].max()

print(df_sub[mask1].iloc[:, [1,3,-2]])
print(df_sub[mask2].iloc[:, [1,3,-1]])

     호선명 지하철역     무임승차비
329  경의선   운천  0.787671
     호선명  지하철역  유임승차비
334  경의선  김포공항    1.0
336  경의선    검암    1.0
483  6호선    신내    1.0

In [ ]:
mask = (df_sub['유임승차'] | df_sub['무임승차']) >= 10000

df_sub['무임승차비'] = df_sub['무임승차'] / (df_sub['유임승차'] + df_sub['무임승차'])
df_sub['유임승차비'] = df_sub['유임승차'] / (df_sub['유임승차'] + df_sub['무임승차'])

df_sub.loc[~mask, ['무임승차비', '유임승차비']] = None

mask1 = df_sub['무임승차비'] == df_sub['무임승차비'].max()
mask2 = df_sub['유임승차비'] == df_sub['유임승차비'].max()

print(df_sub[mask1].iloc[:, [1,3,-1,-2]])
print(df_sub[mask2].iloc[:, [1,3,-1,-2]])

     호선명 지하철역     유임승차비     무임승차비
208  경원선  소요산  0.237237  0.762763
          호선명  지하철역     유임승차비     무임승차비
572  공항철도 1호선  홍대입구  0.956434  0.043566

In [ ]:
df_sub = pd.read_csv('data-files/subway_data_1.csv', encoding="utf-8", thousands= ",")

df_sub['무임승차비'] = df_sub['무임승차'] / (df_sub['유임승차'] + df_sub['무임승차'])
df_sub['유임승차비'] = df_sub['유임승차'] / (df_sub['유임승차'] + df_sub['무임승차'])

# df_sub.head()

df_sub['임계치이상'] = df_sub['무임승차'] + df_sub['유임승차'] > 1000

mask1 = df_sub['임계치이상']
df_subway = df_sub[mask1]
mask2 = df_subway['무임승차비'] == df_subway['무임승차비'].max()
mask3 = df_subway['유임승차비'] == df_subway['유임승차비'].max()

print(df_subway[mask2].iloc[:,[3,-3,-2]])
print(df_subway[mask3].iloc[:,[3,-3,-2]])

    지하철역     무임승차비     유임승차비
208  소요산  0.762763  0.237237
     지하철역     무임승차비     유임승차비
572  홍대입구  0.043566  0.956434

In [ ]:
# df_sub2 = pd.read_csv('data-files/subway_data_2.csv', encoding="utf-8", thousands= ",")

# df_sub2.info()
# df_sub2.head()
# df_sub2.iloc[:3, :8]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 620 entries, 0 to 619
Data columns (total 53 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   2025-02              620 non-null    object
 1   1호선                  620 non-null    object
 2   0150                 620 non-null    int64
 3   서울역                  620 non-null    object
 4   587                  620 non-null    int64
 5   54                   620 non-null    int64
 6   8,095                620 non-null    int64
 7   7,283                620 non-null    int64
 8   22,011               620 non-null    int64
 9   47,821               620 non-null    int64
 10  71,085               620 non-null    int64
 11  111,528              620 non-null    int64
 12  119,083              620 non-null    int64
 13  233,868              620 non-null    int64
 14  94,584               620 non-null    int64
 15  152,230              620 non-null    int64
 16  84,901               620 non-null    int64
 17  85,218               620 non-null    int64
 18  102,298              620 non-null    int64
 19  82,794               620 non-null    int64
 20  115,097              620 non-null    int64
 21  92,799               620 non-null    int64
 22  109,127              620 non-null    int64
 23  90,322               620 non-null    int64
 24  95,089               620 non-null    int64
 25  85,159               620 non-null    int64
 26  118,760              620 non-null    int64
 27  95,891               620 non-null    int64
 28  131,583              620 non-null    int64
 29  104,583              620 non-null    int64
 30  201,824              620 non-null    int64
 31  123,994              620 non-null    int64
 32  240,781              620 non-null    int64
 33  144,802              620 non-null    int64
 34  130,836              620 non-null    int64
 35  101,179              620 non-null    int64
 36  93,425               620 non-null    int64
 37  71,725               620 non-null    int64
 38  96,326               620 non-null    int64
 39  64,305               620 non-null    int64
 40  60,849               620 non-null    int64
 41  45,557               620 non-null    int64
 42  30,226               620 non-null    int64
 43  23,594               620 non-null    int64
 44  3,738                620 non-null    int64
 45  6,137                620 non-null    int64
 46  10                   620 non-null    int64
 47  165                  620 non-null    int64
 48  0                    620 non-null    int64
 49  1                    620 non-null    int64
 50  0.1                  620 non-null    int64
 51  0.2                  620 non-null    int64
 52  2025-03-03 16:39:16  620 non-null    object
dtypes: int64(49), object(4)
memory usage: 256.8+ KB

   2025-02  1호선  0150   서울역  587  54  8,095  7,283
0  2025-02  1호선   151    시청  118   0   1599   4243
1  2025-02  1호선   152    종각  122   2   3547   5593
2  2025-02  1호선   153  종로3가  108   7   2804   2329